@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 26% 14%;
    --foreground: 220 27% 96%;
    --primary: 207 68% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 12% 54%;
    --secondary-foreground: 220 27% 96%;
    --accent: 207 68% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --ring: 207 68% 50%;
    --input: 216 12% 54%;
    --card: 220 24% 20%;
    --card-foreground: 220 27% 96%;
    --muted: 218 17% 35%;
    --muted-foreground: 218 15% 65%;
    --border: 218 17% 30%;
  }
}

body {
  @apply bg-brand-900 text-brand-50 antialiased;
}
